@import url(http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light);

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -400px;
    width: 800px;
    
    background-color: #000;
    color: #fff;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.thumbnails:before, .thumbnails:after {
    content: "";
    display: table;
}
ul, ol {
    padding: 0;
}

li {
    line-height: 18px;
}
.thumbnails {
    list-style: none outside none;
}
.thumbnails:after {
    clear: both;
}
.thumbnails:before, .thumbnails:after {
    content: "";
    display: table;
}

.thumbnails > li {
    margin-left: 10px;
		float: left;
}

ul#cat-list {margin-top:20px; margin-left:40px;}
ul#cat-list li {width: 240px;}
ul#cat-list li img { width:200px; height:auto; opacity:0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=80); }
ul#cat-list li.current-item img, ul#cat-list li:hover img{ opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); }
ul#cat-list li:hover{ cursor:pointer; }

ul#cat-list li.current-item img {
	border:2px solid rgba(82,168,236,.8);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(82,168,236,.25);
		 -moz-box-shadow: 0 1px 3px rgba(82,168,236,.25);
				  box-shadow: 0 1px 3px rgba(82,168,236,.25);
}

#menu-popup h2 {
	margin-top:20px;
	width: 100%;
	text-align:center;
}

#exit-dialog-button {
	margin-left:40px;
}

#exit-dialog-button img{
	width: 60px;
}
#help-dialog-button {
	margin-right: 40px;
	float: right;
}
#help-dialog-button img{
	width: 60px;
}

#like-popup h2 {
	margin-top:20px;
	width: 100%;
	text-align:center;
}

#exit-like-button {
	margin-left:40px;
}

#exit-like-button img{
	width: 60px;
}
#help-like-button {
	margin-right: 40px;
	float: right;
}
#help-like-button img{
	width: 60px;
}
#page-title{display: none;position:fixed; z-index:3; left:10px; bottom:100px; padding:10px; background:url(../img/fs_img_g_bg.png); color:#FFF; font-family:'Josefin Sans Std Light', arial, serif; font-size:24px; text-transform:uppercase;}
.img-title{position:fixed; z-index:3; left:60px; bottom:120px; padding:10px; background:url(../img/fs_img_g_bg.png); color:#FFF; font-family:'Josefin Sans Std Light', arial, serif; font-size:16px; text-transform:uppercase;}
#demo-video {position:fixed;z-index:3;right:-400px;bottom:40px;padding:10px;background:url(../img/fs_img_g_bg.png); color:#FFF;}
#like-button {position:fixed; z-index:3; right:20px; top:10px; padding:10px; }
#like-button img {width: 80px;}
#menu-button {position:fixed; z-index:3; left:20px; top:10px; padding:10px; }
#menu-button img {width: 80px;}
